{% extends 'base.html' %}
{% load static %}
{% block content %}

       <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Gateway47 Tech</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Welcome to the world of innovation, The future starts here</h2>
                    <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">Gateway47 industries</h2>
                        <p class="text-white-50">Founded by Regalo after watching startup, was just scared how briliant minds are been misused by people with lots of cash.<a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. Its an open source program, and you can use it for any purpose, personal or commercial.</p>
                    </div>
                </div>
                <img class="img-fluid" src="assets/img/ipad.png" alt="" />
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
        {% for project in projects %}
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    {% if project.image %}
                            <div class="col-xl-8 col-lg-7">
                                    <img class="img-fluid mb-3 mb-lg-0" src="{{ project.image.url }}" alt="project-image" />
                            </div>
                    {% endif %}   
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>{{ project.name }}</h4>
                            <p class="text-black-50 mb-0">{{ project.description }}</p>
                        </div>
                    </div>
                </div>

                <div>
                    <h3 style="text-align: center;"><u>Features</u></h3>
                </div><br>
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    {% for photo in project.project_photos.all %}
                        {% if photo.image %}
                            <div class="col-lg-6">
                                <img class="img-fluid" src="{{ photo.image.url }}" alt="" />
                            </div>
                        {% endif %}
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">{{ photo.name }}</h4>
                                    <p class="mb-0 text-white-50">{{ photo.description }}</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                     {% endfor %}
                </div>
            </div>
            {% endfor %}
        </section>
        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                        <form class="form-inline d-flex"><input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email" placeholder="Enter email address..." /><button class="btn btn-primary mx-auto" type="submit">Subscribe</button></form>
                    </div>
                </div>
            </div>
        </section>
 


{% endblock content %}